dontaudit domain kernel:system module_request;

# /sys/kernel/debug/mali
allow domain debugfs_mali:dir search;

# /sys/kernel/debug/ion
allow domain debugfs_ion:dir search;
