on post-fs-data
    mkdir /data/vendor/secradio 0770 radio radio

on property:ro.vendor.multisim.simslotcount=1
    stop ril-daemon1

on property:hwservicemanager.ready=false
    restart ril-daemon

on property:hwservicemanager.ready=false && property:ro.vendor.multisim.simslotcount=2
    restart ril-daemon1
